  body{
    background-color: white;
    background-image: url(big.jpg) ;
    font-size: xx-large;

}
 
  table{
    text-align: center;
    margin: auto;
}
a{
    text-decoration: none;
font-size: larger;
    color: brown;

}

